<header class="flex top-0 z-50 w-full px-[40px] dark:bg-[#050505] bg-[#FAFAFA] backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="container-wrapper mx-auto flex w-full justify-between items-center">
    <div class="flex h-14 items-center">
      <div class="flex mr-4 space-x-3 hidden md:flex items-center h-full">
          <LinkTo
            @route="index"
            draggable={{false}}
            class="flex items-center gap-3 mr-1"
          >
            <Draco::Mark class="flex transform -translate-y-[1px]" />
            <span class="font-[500] text-[16px] dark:text-[#EDEDED]">Draco</span>
          </LinkTo>

          <span class="flex w-[1px] h-[40%] dark:bg-[#242424]" />

          <nav class="flex items-center text-sm gap-1">
            {{#each this.navItems as |item|}}
              <Draco::Button
                @size="small"
                @route={{item.route}}
                @color="tertiary"
                @text={{item.label}}
                draggable={{false}}
                class="{{if (eq @currentTopRoute @route) 'dark:text-white'}}"
              />
            {{/each}}
          </nav>
      </div>
    </div>

    <div class="flex gap-x-[6px]">
      <Draco::Button @text="Sign in" @size="small" />
      <Draco::Button @isIconOnly={{true}} @size="small" @color="tertiary" @icon="mdi:github" @iconSize={{18}} @href="https://github.com/corinvo/dracoui" />
    </div>
  </div>
</header>