{{page-title "Draco Design System" separator=" - " prepend=true}}
{{set-color-scheme this.colorScheme.scheme}}

<ProgressBar/>

<Header @currentTopRoute={{this.currentTopRoute}} />

<main class="flex flex-1 flex-col w-full pt-[3.5rem]">
  {{outlet}}
</main>


<Footer @currentTopRoute={{this.currentTopRoute}} />
