<section class="border-grid max-w-[1200px] w-full mx-auto flex flex-col-reverse lg:flex-row justify-between mt-[40px] space-x-[20px]">
  <div class="flex container-wrapper justify-center items-center">
    <div class="container flex flex-col items-start gap-2 py-8 md:py-10 lg:py-12 max-w-[600px]">
        <Draco::Link
        @iconSize={{15}}
        class="font-[500] pb-[10px] pl-[2px]"
        @iconPosition="trailing"
        @icon="lucide:arrow-right"
        @text="Introducing Draco v0.1"
        @href="https://github.com/corinvo/dracoui"
      >
        <Draco::Mark @size={{14}} />
      </Draco::Link>

      <h1 class="text-2xl font-[500] leading-tight tracking-tighter md:text-4xl">
        Draco Design System
      </h1>

      <p class="max-w-2xl font-[450] text-[13.8px] leading-[24px] dark:text-[#7D7D7D] tracking-tight antialiased dark:[&>strong]:text-[#E6E6E6]">
        A bold and modular design system, based on
        <Draco::Link class="font-[700]" @text="Sprocket UI" @href="https://sprocketui.com" @displayExternalIcon={{true}} /> <br>
        Draco offers beautifully crafted and accessible components for <strong>easy navigation</strong> <br>
        and <strong>data visualization</strong>, empowering limitless creativity for engineers and designers.
      </p>


      <div class="flex gap-2.5 w-full items-start pt-2">
        <Draco::Button @text="Get Started" @route="docs" />
        <Draco::Button @text="Browse Components" @route="components" @type="secondary" />
        <Draco::Button @text="Licensed Under MIT" @type="tertiary" @href="https://github.com/corinvo/dracoui/blob/main/LICENSE" />
      </div>
    </div>
  </div>

  <div class="careers_root__PB4wl w-[575px] h-[575px] overflow-hidden">
    <div class="absolute inset-0 h-full w-full bg-transparent bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px]" />
    <div class="grain-overlay absolute inset-0 z-10 pointer-events-none" />
    <div class="careers_container__9htdv relative flex items-center justify-center">
      <Home::HeroImage />
    </div>
  </div>
</section>

<section class="max-w-[1200px] w-full mx-auto flex flex-col justify-between mt-[150px] space-y-[30px]">
  <div class="mt-[40px] flex flex-col w-full max-w-[1200px] space-y-[50px] pb-[30px]">
    <div class="flex flex-col relative text-left justify-center items-left max-w-[35rem]">
      <h2 class="text-3xl font-[500] leading-tight tracking-tighter">
        Design Systems Fundamentals
      </h2>

      <p class="mt-4 font-[450] text-[13.8px] leading-[24px] dark:text-[#7D7D7D] tracking-tight antialiased dark:[&>strong]:text-[#E6E6E6]">
        Learn the <strong>essential principles</strong> and building blocks that form the backbone of our design system. A foundation for creating <strong>consistent, accessible</strong> interfaces.
      </p>
    </div>
  </div>
  <ul class="relative flex flex-row w-full justify-between gap-6" role="list" aria-label="the cornerstones of the draco design system">
    {{#each this.cards as |card|}}
      <a
        draggable={{false}}
        href={{card.route}}
        class="group/card active:scale-[0.98] transition-all will-change-transform transform-gpu antialiased cursor-pointer relative rounded-lg p-6 border dark:border-[#3F3F46] dark:hover:border-[#969696] dark:bg-[#0A0A0A]"
      >
        <div class="mb-3 text-gray-400 transition group-hover/card:text-gray-950 dark:text-gray-500 dark:group-hover/card:text-gray-300 [&>svg]:h-8 [&>svg]:w-auto">
          <Draco::Icon @name={{card.icon}} @size={{28}} />
        </div>

        <div>
          <div class="relative flex items-center text-center mx-auto mb-2">
            <h2 class="text-[0.875rem] leading-5 font-medium text-gray-950 dark:text-white">
              {{capitalize card.title}}
            </h2>
              <Draco::Icon
                @size={{15}}
                @name="lucide:arrow-right"
                class="ml-1 flex transform opacity-0 translate-x-0 transition-all duration-300 ease-out group-hover/card:opacity-100 group-hover/card:translate-x-1"
              />
          </div>
          <div class="text-[0.875rem]/5 dark:text-[#A1A1A1]">
            <p>{{card.description}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </ul>
</section>

{{!-- Spacing element between last section item and footer --}}

<div class="flex h-[200px] w-full" />