<header
  {{scroll-tracker this.updateScrollPosition}}
  class="transition-colors fixed flex top-0 z-[1000] w-full pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-right),1.5rem)] lg:bg-background/95 lg:bg-transparent lg:backdrop-blur backdrop-none bg-[#040404] supports-[backdrop-filter]:bg-background/60 border-b border-transparent {{if (or (eq @currentTopRoute 'components') (eq @currentTopRoute 'foundations') (not this.isAtTop)) 'dark:border-[#242424] border-[#e5e5e5]'}}"
>
  <div class="container-wrapper mx-auto flex w-full items-center h-14 relative">
      <div class="flex z-10">
        <LinkTo
          @route="index"
          draggable={{false}}
          class="flex items-center gap-3 mr-1"
        >
          <Logo />
          <span class="text-md font-medium dark:text-[#EDEDED]">Draco Design System</span>
        </LinkTo>
      </div>

      <nav class="hidden md:flex items-center text-sm gap-1 absolute left-1/2 transform -translate-x-1/2">
        {{#each this.navItems as |item|}}
          <Draco::Button
            @route={{item.route}}
            @color="tertiary"
            @text={{item.label}}
            draggable={{false}}
            class="bg-transparent {{if (eq @currentTopRoute item.route) 'dark:text-white'}}"
          />
        {{/each}}
      </nav>

      <div class="flex gap-x-[10px] ml-auto z-10">
        {{#if (and this.developerLoginEnabled this.isFirebaseReady)}}
          <Draco::Button @text="Sign in" @color="secondary" />
        {{/if}}

        <Draco::Button @text="GitHub" @displayExternalIcon={{false}} @icon="mdi:github" @iconSize={{20}} @href="https://github.com/corinvo/dracoui" />
      </div>
  </div>
</header>
